html,
body {
    margin: 0px auto;
    max-width: 1000px;
    color: whitesmoke;
    background: #333333;
}

span {
    color: red;
}

.titulo {
    background: #333333;
    max-width: 1000px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.carta {
    max-width: 1000px;
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas,
#computadora-cartas {
    height: 240px;
}
